/* general */

li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

@media screen and (min-width: 900px) {
  .navbar-nav {
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .navbar-nav {
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 700px) {
  .navbar-nav {
    padding: 20px;
    margin: auto;
    margin-top: 10px;
  }
}

.nav-link {
  text-decoration: none;

  font-size: larger;
  color: black;
  font-family: monospace, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav-site {
  text-decoration: overline;

  font-size: larger;
  color: black;
  font-family: monospace, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  font-family: monospace, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  font-size: xx-large;
  text-align: center;
  margin-top: 50px;
}

.pagetitle {
  font-family: monospace, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: space-around;
  font-size: x-large;
}

@media screen and (min-width: 900px) {
  .imgleft {
    position: fixed;
    align-self: left;
    margin-left: 4%;
    margin-right: 96%;
  }

  .imgright {
    position: fixed;
    align-self: right;
    margin-right: 15%;
    margin-left: 85%;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .imgleft {
    position: fixed;
    align-self: left;
    margin-top: 10%;
    margin-left: 2px;
  }

  .imgright {
    position: fixed;
    align-self: right;
    margin-top: 10%;
    margin-right: 25%;
    margin-left: 75%;
  }
}

@media screen and (max-width: 700px) {
  .imgleft {
    position: fixed;
    align-self: left;
    margin-top: 25%;
    margin-left: 0.01%;
    margin-right: 99.99%;
  }

  .imgright {
    position: fixed;
    align-self: right;
    margin-top: 25%;
    margin-left: 75%;
    margin-right: 25%;
  }
}

/* projects */

@media screen and (min-width: 900px) {
  .containerproj {
    width: auto;
    margin-top: 10px;
    padding: 20px;
    text-align: center;

    font-family: monospace, "Lucida Sans", "Lucida Sans Regular",
      "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .containerproj {
    padding: 20px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: monospace, "Lucida Sans", "Lucida Sans Regular",
      "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

@media screen and (max-width: 700px) {
  .containerproj {
    padding: 20px;
    width: auto;
    margin-top: 10px;
    text-align: center;
    font-family: monospace, "Lucida Sans", "Lucida Sans Regular",
      "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

p {
  margin-bottom: 70px;
}

h3 {
  text-align: center;
}

.box1 {
  text-align: left;
  padding: 5px;
  font-family: monospace, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.box2 {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  font-family: monospace, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* previous work */

.aboutme {
  border-radius: 50%;
}

.aboutme1 {
  border-radius: 25%;
}

@media screen and (min-width: 900px) {
  .resumeimage {
    text-align: center;
    margin: 25%;
    margin-top: 60px;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .resumeimage {
    text-align: center;
    margin: 60px;
    margin-top: 60px;
    max-width: 70%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .resumeimage {
    text-align: center;
    margin: 40px;
    margin-top: 60px;

    height: auto;
    max-width: 80%;
  }
}

/* contact */

@media screen and (min-width: 900px) {
  .containercontact {
    width: 75%;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
    padding: auto;
    font-family: monospace, "Lucida Sans", "Lucida Sans Regular",
      "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .containercontact {
    width: 88%;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
    padding: auto;
    font-family: monospace, "Lucida Sans", "Lucida Sans Regular",
      "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

@media screen and (max-width: 700px) {
  .containercontact {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
    padding: auto;
    font-family: monospace, "Lucida Sans", "Lucida Sans Regular",
      "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* about me */

.container {
  width: 50%;
  text-align: center;
  display: inline-block;
  margin: 25%;
  margin-top: 40px;
  padding: auto;
  font-family: monospace, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
